.wrapper__side-bar
  .wrapper__side-bar__user-name
    .wrapper__top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        =link_to "#", class: 'link-items' do
          %i.fas.fa-cog
        =link_to edit_user_path(current_user), class: 'link-items' do
          %i.fa.fa-edit 
  
  .wrappr__side-bar__group-list
    .wrappar__groups
      .groups-name
        techcamp
      .groups-message
        まだメッセージがありません
      .groups-name
        techcamp
      .groups-message
        まだメッセージがありません
        