.wrapper{
  width: 100vw;
  display: flex;
  

  &__side-bar {
    width: 300px;
    height:100vh;
    background-color: #2f3e51;
    float: left;
    box-sizing: border-box;
    
  }

  &__side-bar__user-name {
    width: 300px;
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    
    top: 0;
  }
      &__top-items {
        width: 260px;
        height: 20px;
        background-color: #253141;
        display: block;
        
        }
          .top-items__name {
            line-height: center;
            font-size: 16px;
            color: #ffffff;
            float: left;
          }
            
          .top-items__icons {
            width: 60px;
            height: 20px;
            background-color: #253141;
            float: right;
          }

            .fas.fa-cog {
              text-align: right;
              color: #ffffff;
              float: right;
            }

            .fa.fa-edit {
              text-align: right;
              color: #ffffff;
              float: right;
              padding: 0 5px;
            }

              .link-items {
                text-decoration: none;
                
              }
            
  &__side-bar__groups-list {
    width: 260px;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    overflow-y: scroll;
    position: sticky;
    bottom: 0;
    a {text-decoration: none;}
  }
              
    .groups {
      text-decoration: none;
      box-sizing: border-box;
        

    }
                
      .group-name {
        font-size: 15px;
        color: #ffffff;
        margin: 20px 20px 0;
        font-size: 16px;
        border: 0;
      }
      .group-message {
        font-size: 11px;
        color: #ffffff;
        margin: 5px 20px 40px;
        border: 0;
      }
                
            
              

    
            
  
  &__main-chat {
    width: calc(100vw - 300px);
    height: 100vh;
    position: fixed;
    
    left: 300px;
    z-index: 5;
  }
    
    &__main-chat__group-info {
      width: calc(100vw - 300px);
      height: 100px;
      background-color: #ffffff;
      
    }
      
      .group-edit {
              
      }
        .edit-btn {
          color: #00bbff;
          width: 72px;
          font-size: 16px;
          height: 40px;
          border: solid 1px #00BBFF;
          padding: 10px 20px;
          text-decoration: none;
          float: right;
          margin: 28px 40px;
        }
      
        .group-id {
          color: #333333;
          font-size: 20px;
          padding: 35px 40px 15px;
        }
      
          .group-list-box {
              
          }
            .group-list {
              color: #999999;
              font-size: 12px;
              padding-left: 40px;          
            }
      
          .group-list-name {
            color: #999999;
            font-size: 12px;
          }


  

      
    
        

  .messages {
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding: 40px 40px 90px;
    height: calc(100vh - 100px - 90px);
    width: calc(100vw - 300px);
    overflow-y: scroll;
    position: sticky;
    bottom: 90px;
    left: 300px;
    z-index: 0;
    .message {
      .upper-message {
        display: flex;
          &__user-name {
            color: $black;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: $light_gray;
            font-size: 12px;
            padding-left: 10px;
          }
      }
      .lower-message {
        margin-top: 10px;
        margin-bottom: 40px;
          &__content {
            color: $black;
            font-size: 14px;
          }
          &__image {
            width: 200px;
            height: 200px;
            object-fit: contain;
          }
      }
    }
  } 

  
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    width: calc(100% - 300px);
    padding: 20px 50px 20px 40px;
    position: fixed;
    
    left: 300px;
    z-index: 5;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left: 10px;
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      cursor: pointer;
    }
  }
}